<!--
-- Authors: Michael Sisko and Emily Costa
--
-- Citation(s):
--      Auto-sizing Text-box: https://stackoverflow.com/questions/2803880/ by Martin Prestone
--
-->

<head>
    <title>Grading Assistant</title>
</head>

<div class="panel panel-default hide-outline" id="outer-card">
    <p>Developed by: Michael Sisko and Emily Costa</p>
    <h2>Grading Assistant</h2>
    <hr>
    <div class="row">
        <div class="col fixed-panel" id="main-left-panel">
            <div class="panel panel-default">
                <div class="panel panel-default hide-outline tight" id="item-info">
                    <div id="assignment">
                        <label for="assignment">Assignment:&nbsp;</label>
                        <input class="input-box" type="text" id="assignment" name="assignment" placeholder="Ex. Homework #1">
                    </div>
                    <div id="max-pts">
                        <label for="max-pts">Max Points:&nbsp;</label>
                        <input class="input-box" type="number" name="max-pts" min=0 size=3 placeholder=100>
                    </div>
                </div>
                <div class="panel panel-default hide-outline tight" id="main-btn-set">
                    <button type="button" class="btn btn-primary">Prev Student</button>
                    <button type="button" class="btn btn-primary">Next Student</button>
                    <button type="button" class="btn btn-primary">Import Table</button>
                    <button type="button" class="btn btn-primary">Export Table</button>
                    <button type="button" class="btn btn-primary">Stats</button>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel panel-default hide-outline tight">
                    <label for="Student">Student Name: </label>
                    <button type="button" id="save-btn" class="btn btn-primary feedback-btn">Save Progress</button>
                </div>
                <br>
                <form [formGroup]="feedbackForm">
                    <table>
                        <col style="width: 20px">
                        <col style="width: 100%">
                        <col style="width: 60px">
                        <col style="width: 30px">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Feedback</th>
                                <th>Deduction</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody formArrayName="feedbackArray" *ngFor="let feedback of feedbackControls; let i = index">
                            <tr [formGroupName]="i">
                                <td formControlName="selected">
                                    <input id="selected" type="checkbox">
                                </td>
                                <td formControlName="feedback">
                                    <!-- Dynamic textbox citation in header -->
                                    <textarea class="input-box" name="text" oninput='this.style.height = ""; this.style.height = this.scrollHeight + 2 + "px"' placeholder="Say something constructive..."></textarea>
                                </td>
                                <td formControlName="deduction">
                                    <input class="input-box" type="number" name="deduction" min=0 size=3 placeholder=0>
                                </td>
                                <td formControlName="trashButton">
                                    <button class="btn btn-primary" type="button" id="trash-btn" name="trashButton" (click)="removeFeedback(i)" size=2>X</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
                <br>
                <button type="button" class="btn btn-primary feedback-btn" (click)="addFeedback()">Add Feedback</button>
                <br><br>
            </div>

        </div>
        <div class="panel panel-default" id="main-right-panel">

        </div>
    </div>
</div>