// button styling
button:focus {
    outline: none;
}

input[type=file]::file-selector-button {
    // margin: 5px;
    padding: 3px 6px 3px 6px;
    border: solid 1px #778AD5;
    border-radius: 5px;
    background-color: #778AD5;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}

input[type=file]::file-selector-button:hover {
    background: transparent;
    border: solid 1px #fff;
}

// csv chart styling
th, td {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
}

.file-warning {
    color: red;
    font-size: 14px;
}

tr:nth-child(2n) {
    background: #25272a;
}

tbody > tr:hover {
    background: #414245;
    cursor: pointer;
}

thead {
    color: #BBB;
    background: #212225;
}

table {
    margin-top: 10px;
    width: 100%;
}

tbody > tr:focus, tbody > tr:active {
    border: 2px solid #778AD5;
}
