<div class="csv-import-btn">
    <input
        type="file"
        #fileImportInput
        name="File Upload"
        id="csvFileUpload"
        accept=".csv"
        data-testid="importCSV"
        (change)="fileChangeListener($event)"/>
    <p *ngIf="emptyFile == true" class="file-warning">*Empty CSV File</p>
    <p *ngIf="validFile == false" class="file-warning">*Invalid CSV File</p>
</div>
<div class="csv-result-table">
    <table>
        <thead>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Timestamp</th>
            <th>Grade</th>
            <th>Feedback</th>
        </thead>
        <tbody>
            <tr class="csv-data" *ngFor="let csvData of csvRecords; let i = index;" (click)="rowSelected(i)" (click)="highlightRow(i)">
                <td>{{i+1}}</td>
                <td>
                    {{csvData.fullName}}
                </td>
                <td>
                    {{csvData.email}}
                </td>
                <td>
                    {{csvData.gradeLastModified}}
                </td>
                <td>
                    {{csvData.grade}}
                </td>
                <td>
                    {{csvData.feedback}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
