<div class="csv-import-btn">
    <input 
        type="file" 
        #fileImportInput 
        name="File Upload" 
        id="csvFileUpload" 
        accept=".csv" 
        data-testid="importCSV"
        (change)="fileChangeListener($event)"/>
    <p *ngIf="emptyFile == true" class="file-warning">*Empty CSV File</p>
    <p *ngIf="correctFile == false && emptyFile == false" class="file-warning">*Invalid CSV File</p>
</div>
<div class="csv-result-table">
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Timestamp</th>
                <th>Grade</th>
                <th>Feedback</th>    
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let csvData of csvRecords; let i = index;">
                <td>{{i+1}}</td>
                <td>
                    {{csvData["Full name"]}}
                </td>
                <td *ngIf="correctFile == true">
                    {{csvData["Email address"]}}
                </td>
                <td *ngIf="correctFile == true">
                    {{csvData["Last modified (submission)"]}}
                </td>
                <td *ngIf="correctFile == true">
                    {{csvData.Grade}}
                </td>
                <td *ngIf="correctFile == true">
                    {{csvData["Feedback comments"]}}
                </td>
            </tr>
        </tbody>        
    </table>
</div>
